<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TPT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A75DC9851C11C82A009F333C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75DC9A11C11C82B009F333C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75DC9AC1C11C82B009F333C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
